Table of Contents. 
1. Import libraries.
2. Load the dataset.
3. Data cleaning and consistency checks.
4. Descriptive statistical analysis: numeric variables.
5. Categorical variables: distributions.
6. Time variables: Year and Month.
7. Key metrics by year.
8. Geography: metrics by region.
9. Model-level overview.
10. Quick outlier check.  
11. Export cleaned dataset.

1. Import libraries

In [5]:
# Import libraries
import pandas as pd
import os
import numpy as np

2. Load the dataset

In [4]:
# Load the dataset
df = pd.read_excel("Tesla Global Deliveries 2015-2025.xlsx")

In [3]:
# Preview the data
df.head()

,Year,Month,Region,Model,Estimated_Deliveries,Production_Units,Avg_Price_USD,Battery_Capacity_kWh,Range_km,CO2_Saved_tons,Source_Type,Charging_Stations
0,2023,5,Europe,Model S,17646,17922,92874.27,120,704,1863.42,Interpolated (Month),12207
1,2015,2,Asia,Model X,3797,4164,62205.65,75,438,249.46,Official (Quarter),7640
2,2019,1,North America,Model X,8411,9189,117887.32,82,480,605.59,Interpolated (Month),14071
3,2021,2,North America,Model 3,6555,7311,89294.91,120,712,700.07,Official (Quarter),9333
4,2016,12,Middle East,Model Y,12374,13537,114846.78,120,661,1226.88,Estimated (Region),8722

In [4]:
# Check basic info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2640 entries, 0 to 2639
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  2640 non-null   int64
 1   Month                 2640 non-null   int64
 2   Region                2640 non-null   object
 3   Model                 2640 non-null   object
 4   Estimated_Deliveries  2640 non-null   int64
 5   Production_Units      2640 non-null   int64
 6   Avg_Price_USD         2640 non-null   float64
 7   Battery_Capacity_kWh  2640 non-null   int64
 8   Range_km              2640 non-null   int64
 9   CO2_Saved_tons        2640 non-null   float64
 10  Source_Type           2640 non-null   object
 11  Charging_Stations     2640 non-null   int64
dtypes: float64(2), int64(7), object(3)
memory usage: 247.6+ KB

In [5]:
# Get summary statistics
df.describe(include='all')

,Year,Month,Region,Model,Estimated_Deliveries,Production_Units,Avg_Price_USD,Battery_Capacity_kWh,Range_km,CO2_Saved_tons,Source_Type,Charging_Stations
count,2640.000000,2640.000000,2640,2640,2640.000000,2640.000000,2640.000000,2640.000000,2640.000000,2640.000000,2640,2640.000000
unique,NaN,NaN,4,5,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
top,NaN,NaN,Europe,Model S,NaN,NaN,NaN,NaN,NaN,NaN,Interpolated (Month),NaN
freq,NaN,NaN,660,528,NaN,NaN,NaN,NaN,NaN,NaN,884,NaN
mean,2020.000000,6.500000,NaN,NaN,9922.199621,10655.847348,84907.340330,87.059470,500.257576,744.076989,NaN,8932.133712
std,3.162877,3.452707,NaN,NaN,3935.950093,4260.600858,20123.258036,20.836265,120.868549,353.221224,NaN,3469.565883
min,2015.000000,1.000000,NaN,NaN,48.000000,50.000000,50003.700000,60.000000,330.000000,3.070000,NaN,3002.000000
25%,2017.000000,3.750000,NaN,NaN,7292.000000,7828.250000,67726.365000,75.000000,418.000000,499.620000,NaN,5897.750000
50%,2020.000000,6.500000,NaN,NaN,9857.000000,10546.500000,85058.510000,82.000000,470.000000,699.515000,NaN,8901.500000
75%,2023.000000,9.250000,NaN,NaN,12510.250000,13469.000000,102373.042500,100.000000,586.250000,943.765000,NaN,11938.000000
max,2025.000000,12.000000,NaN,NaN,25704.000000,28939.000000,119965.360000,120.000000,719.000000,2548.550000,NaN,14996.000000

3. Data cleaning and consistency checks

In [7]:
# Check for duplicates
df = df.drop_duplicates()

In [8]:
# Check again after removal
df.duplicated().sum()

np.int64(0)

Duplicate check summary:
After inspecting and removing duplicates, no duplicate rows were found. This confirms that each record in the dataset represents a unique combination of year, month, region, model, and related variables.

In [10]:
# Sort by year
df = df.sort_values(by='Year').reset_index(drop=True)

In [12]:
# Check results
df.head()

,Year,Month,Region,Model,Estimated_Deliveries,Production_Units,Avg_Price_USD,Battery_Capacity_kWh,Range_km,CO2_Saved_tons,Source_Type,Charging_Stations
0,2015,4,Europe,Model X,8458,9039,88193.18,120,716,908.39,Interpolated (Month),7633
1,2015,3,Europe,Model X,3940,4493,98722.09,75,433,255.90,Interpolated (Month),4166
2,2015,6,Europe,Model 3,8922,9609,104855.71,75,427,571.45,Official (Quarter),10465
3,2015,2,Asia,Model S,12347,12514,108471.17,82,464,859.35,Interpolated (Month),5238
4,2015,12,Middle East,Model Y,7294,7513,84411.62,82,453,495.63,Interpolated (Month),9983

In [13]:
df.tail()

,Year,Month,Region,Model,Estimated_Deliveries,Production_Units,Avg_Price_USD,Battery_Capacity_kWh,Range_km,CO2_Saved_tons,Source_Type,Charging_Stations
2635,2025,3,Europe,Model 3,4322,4811,106262.64,60,346,224.31,Estimated (Region),8862
2636,2025,5,North America,Model S,7732,8655,70175.23,120,671,778.23,Interpolated (Month),14687
2637,2025,7,Asia,Model X,16163,18239,71701.14,82,467,1132.22,Estimated (Region),7278
2638,2025,9,Asia,Cybertruck,9269,10104,88928.09,120,684,951.00,Official (Quarter),8148
2639,2025,11,Asia,Model Y,8686,8798,91471.18,120,705,918.54,Estimated (Region),5288

The dataset is now ordered from the earliest year (2015) to the latest (2025), allowing clear visualization of temporal changes such as 
delivery growth and production trends over time.

In [14]:
# Check for incorrect data types
df.dtypes

Year                      int64
Month                     int64
Region                   object
Model                    object
Estimated_Deliveries      int64
Production_Units          int64
Avg_Price_USD           float64
Battery_Capacity_kWh      int64
Range_km                  int64
CO2_Saved_tons          float64
Source_Type              object
Charging_Stations         int64
dtype: object

I checked the data types of all columns to ensure they were appropriate for analysis.

Numerical columns such as Year, Month, Estimated_Deliveries, Production_Units, Avg_Price_USD, Battery_Capacity_kWh, Range_km, CO2_Saved_tons, and Charging_Stations are correctly stored as integers or floats.

Categorical columns — Region, Model, and Source_Type — are stored as objects (strings).

Since all columns are in the correct format, no conversions are necessary at this stage.

In [15]:
# Consistency checks on categorical values
print(df['Region'].unique())
print(df['Model'].unique())
print(df['Source_Type'].unique())

['Europe' 'Asia' 'Middle East' 'North America']
['Model X' 'Model 3' 'Model S' 'Model Y' 'Cybertruck']
['Interpolated (Month)' 'Official (Quarter)' 'Estimated (Region)']

I examined the unique values in all categorical columns to ensure consistency and prevent issues during analysis.

Region contains: 'Europe', 'Asia', 'Middle East', 'North America'

Model contains: 'Model X', 'Model 3', 'Model S', 'Model Y', 'Cybertruck'

Source_Type contains: 'Interpolated (Month)', 'Official (Quarter)', 'Estimated (Region)'

There are no typos, duplicates, inconsistent capitalization, or extra spaces.
All categorical variables are standardized and ready for grouping or visualization.

4. Descriptive statistical analysis: numeric variables

In [16]:
# Select key numeric variables
numeric_cols = [
    'Estimated_Deliveries',
    'Production_Units',
    'Avg_Price_USD',
    'Battery_Capacity_kWh',
    'Range_km',
    'CO2_Saved_tons',
    'Charging_Stations'
]

df[numeric_cols].describe().round(2)

,Estimated_Deliveries,Production_Units,Avg_Price_USD,Battery_Capacity_kWh,Range_km,CO2_Saved_tons,Charging_Stations
count,2640.00,2640.00,2640.00,2640.00,2640.00,2640.00,2640.00
mean,9922.20,10655.85,84907.34,87.06,500.26,744.08,8932.13
std,3935.95,4260.60,20123.26,20.84,120.87,353.22,3469.57
min,48.00,50.00,50003.70,60.00,330.00,3.07,3002.00
25%,7292.00,7828.25,67726.36,75.00,418.00,499.62,5897.75
50%,9857.00,10546.50,85058.51,82.00,470.00,699.52,8901.50
75%,12510.25,13469.00,102373.04,100.00,586.25,943.76,11938.00
max,25704.00,28939.00,119965.36,120.00,719.00,2548.55,14996.00

Shows min, max, mean, and spread for deliveries, production, prices, range, CO₂ savings, and charging stations.

Confirms no impossible values (e.g. negatives), and indicates growth over time in production, deliveries, CO₂ saved, and infrastructure.

5. Categorical variables: distributions
Here I profile the key categorical variables to understand how observations are distributed across regions, models, and data source types.

In [17]:
# Regions
df['Region'].value_counts().to_frame('Count')

               Count
Region
Europe           660
Asia             660
Middle East      660
North America    660

In [18]:
# Models
df['Model'].value_counts().to_frame('Count')

            Count
Model
Model X       528
Model 3       528
Model S       528
Model Y       528
Cybertruck    528

In [19]:
# Source types
df['Source_Type'].value_counts().to_frame('Count')

                      Count
Source_Type
Interpolated (Month)    884
Official (Quarter)      884
Estimated (Region)      872

The dataset covers four regions: Europe, Asia, Middle East, and North America.

Includes multiple Tesla models (S, 3, X, Y, Cybertruck), enabling model-level comparisons.

Source_Type indicates whether values are official, estimated, or interpolated - useful for assessing reliability in later analysis.

6. Time variables: Year and Month
The dataset spans multiple years and months, enabling time-series analysis of Tesla’s growth.

In [20]:
print("Year range:", df['Year'].min(), "to", df['Year'].max())
print("Unique years:", sorted(df['Year'].unique()))
print("\nMonth coverage (1 = Jan, 12 = Dec):")
df['Month'].value_counts().sort_index()

Year range: 2015 to 2025
Unique years: [np.int64(2015), np.int64(2016), np.int64(2017), np.int64(2018), np.int64(2019), np.int64(2020), np.int64(2021), np.int64(2022), np.int64(2023), np.int64(2024), np.int64(2025)]

Month coverage (1 = Jan, 12 = Dec):

Month
1     220
2     220
3     220
4     220
5     220
6     220
7     220
8     220
9     220
10    220
11    220
12    220
Name: count, dtype: int64

Confirms continuous coverage from the earliest to latest year in the dataset.

Months 1–12 are present, so seasonal patterns can be analyzed if needed.

7. Key metrics by year

Annual trends: deliveries, production, CO₂ savings, and infrastructure
To understand Tesla’s evolution over time, I aggregate key metrics by year.

In [21]:
annual_summary = (
    df.groupby('Year')[['Estimated_Deliveries',
                        'Production_Units',
                        'CO2_Saved_tons',
                        'Charging_Stations']]
      .sum()
      .round(2)
)

annual_summary

,Estimated_Deliveries,Production_Units,CO2_Saved_tons,Charging_Stations
Year,,,,
2015,2375267,2545695,182466.15,2224563
2016,2434081,2617000,185529.89,2140661
2017,2350517,2527084,172837.26,2076855
2018,2423104,2598455,183804.41,2100018
2019,2404230,2573522,180034.13,2164314
2020,2280336,2462234,171564.47,2127221
2021,2335116,2506114,179127.01,2138332
2022,2434220,2616834,178624.13,2153298
2023,2382375,2562319,173875.07,2184161
2024,2406899,2587664,176635.80,2174451
2025,2368462,2534516,179864.93,2096959

In [22]:
# Mean price & tech indicators per year
annual_means = (
    df.groupby('Year')[['Avg_Price_USD',
                        'Battery_Capacity_kWh',
                        'Range_km']]
      .mean()
      .round(2)
)

annual_means

      Avg_Price_USD  Battery_Capacity_kWh  Range_km
Year
2015       85684.35                 88.70    509.98
2016       84777.00                 88.44    507.69
2017       85111.40                 84.88    488.38
2018       86111.87                 88.36    507.22
2019       83990.49                 87.05    500.21
2020       84159.94                 88.16    505.90
2021       83270.61                 89.17    511.92
2022       85680.59                 85.21    489.39
2023       84509.95                 84.25    485.35
2024       85999.22                 85.97    492.87
2025       84685.34                 87.47    503.95

Summed yearly deliveries and production show how Tesla scales globally over time.

Yearly CO₂ savings and charging stations also increase, indicating growing environmental and infrastructure impact.

Mean battery capacity and range by year help show technological improvements.

8. Geography: metrics by region
Next, I summarize key metrics by region to see how Tesla’s presence differs geographically.

In [23]:
region_summary = (
    df.groupby('Region')[['Estimated_Deliveries',
                          'Production_Units',
                          'CO2_Saved_tons']]
      .sum()
      .round(2)
      .sort_values('Estimated_Deliveries', ascending=False)
)

region_summary

               Estimated_Deliveries  Production_Units  CO2_Saved_tons
Region
Middle East                 6698045           7194069       503797.14
Asia                        6539935           7014376       484357.26
Europe                      6494035           6985064       485135.79
North America               6462592           6937928       491073.06

In [24]:
# Average price by region
region_price = (
    df.groupby('Region')['Avg_Price_USD']
      .mean()
      .round(2)
      .to_frame('Avg_Price_USD_mean')
)

region_price

               Avg_Price_USD_mean
Region
Asia                     85161.73
Europe                   86107.73
Middle East              84536.00
North America            83823.90

Highlights which regions account for the highest deliveries and production.

Compares average prices and may hint at market differences.

9. Model-level overview
I also summarize metrics by Tesla model to compare performance and characteristics.

In [25]:
model_summary = (
    df.groupby('Model')[['Estimated_Deliveries',
                         'Production_Units',
                         'Avg_Price_USD',
                         'Battery_Capacity_kWh',
                         'Range_km']]
      .agg({
          'Estimated_Deliveries': 'sum',
          'Production_Units': 'sum',
          'Avg_Price_USD': 'mean',
          'Battery_Capacity_kWh': 'mean',
          'Range_km': 'mean'
      })
      .round(2)
      .sort_values('Estimated_Deliveries', ascending=False)
)

model_summary

,Estimated_Deliveries,Production_Units,Avg_Price_USD,Battery_Capacity_kWh,Range_km
Model,,,,,
Model S,5380385,5768624,85185.40,87.15,501.22
Model 3,5321919,5721194,84528.00,87.70,503.22
Model Y,5225284,5616313,86081.21,86.38,496.24
Model X,5157240,5538235,84243.21,87.14,500.78
Cybertruck,5109779,5487071,84498.87,86.93,499.83

Shows which models dominate deliveries and how they differ in price, capacity and range.

10. Quick outlier check
As part of descriptive analysis, I visually inspect min/max values to ensure no impossible values remain.

In [26]:
df[numeric_cols].agg(['min', 'max']).round(2)

,Estimated_Deliveries,Production_Units,Avg_Price_USD,Battery_Capacity_kWh,Range_km,CO2_Saved_tons,Charging_Stations
min,48,50,50003.70,60,330,3.07,3002
max,25704,28939,119965.36,120,719,2548.55,14996

All mins and maxes are realistic (e.g., no negative values, no absurd ranges or prices).

Confirms earlier cleaning & integrity checks.

11. Export cleaned dataset

In [6]:
# Export cleaned dataset
df.to_excel('Tesla_Global_Deliveries_Cleaned.xlsx', index=False)